.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.set-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 75vmin;
	height: 75vmin;
	background: lightpink;
}
